{% extends "base.html" %}
{% block content %}
  <h1>Car Detail</h1>
  <table border="1">
    <thead>
      <tr>
        <th>Model</th>
        <th>Manufacturer</th>
        <th>Country</th>
        <th>Drivers</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ car.model }}</td>
        <td>{{ car.manufacturer.name }}</td>
        <td>{{ car.manufacturer.country }}</td>
        <td>
          {% for driver in car.drivers.all %}
            ({{ driver.first_name }} {{ driver.last_name }})
          {% endfor %}
        </td>
      </tr>
    </tbody>
  </table>
{% endblock %}