{% extends "base.html" %}
{% block content %}
  <table border="1">
    <thead>
      <tr>
        <th>Username</th>
        <th>First name</th>
        <th>Last name</th>
        <th>License number</th>
        <th>Cars</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{ driver.username }}</td>
        <td>{{ driver.first_name }}</td>
        <td>{{ driver.last_name }}</td>
        <td>{{ driver.license_number }}</td>
        <td> {% for car in driver.cars.all %}
          ({{ car.model}}) {% endfor %}</td>
      </tr>
    </tbody>
  </table>
{% endblock %}
